/* Default */

html {
	background:#0b3c9b url('./images/top_bg.gif') repeat-x top;
}
body {
	min-width:1000px;
	color:#1a1d24;
	font-size:14px;
	line-height:17px;
    font-family:'Verdana';
	padding:0;
	margin:0;
	background:url('./images/top_center.jpg') no-repeat center top;
}
body.mobile {
	min-width:320px;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 17px;
}
table {
	margin:0 0 17px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#124cc1;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#1a1d24;
	font-size:12px;
	font-family:'Verdana';
	padding:0;
	margin:0;
	background:none;
	border:0;
}
textarea {
	overflow:auto;
}
button {
	margin:0;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
#wrapper {
	position:relative;
	margin:0 auto;
	background:url('./images/footer_bg.png') no-repeat right bottom;
}

/* Top */

#top {
	position:relative;
	height:150px;
	width:1000px;
	margin:0 auto;
}
#top #logo {
	position:absolute;
	left:19px;
	top:34px;
}
#top .contacts {
	position:absolute;
	left:503px;
	top:62px;
	margin:0;
}
#top .contacts li {
	float:left;
	margin:0 37px 0 0;
}
#top .contacts li h3 {
	color:#ffd478;
	font-size:14px;
	line-height:17px;
	font-family:'Arial';
	text-shadow:0 1px 1px #000000;
	margin:0;
}
#top .contacts li h3 a {
	color:#ffd478;
}
#top .contacts li p {
	color:#ffffff;
	font-size:14px;
	line-height:17px;
	font-family:'Arial';
	text-shadow:0 1px 1px #000000;
	margin:0;
}
#top .contacts li p a {
	color:#ffffff;
}
#top .banner {
	position:absolute;
	right:0;
	top:59px;
	width:122px;
	height:58px;
}

/* Main */

#content {
	position:relative;
	clear:both;
	overflow:hidden;
	width:1000px;
	padding:0 0 9px;
	margin:0 auto;
	background:#ffffff;
	border-bottom:1px solid #cdd1da;
	-moz-box-shadow:0 3px 10px #030f27;
	-webkit-box-shadow:0 3px 10px #030f27;
	box-shadow:0 3px 10px #030f27;
	behavior:url('./pie.htc');
}
#menu {
	position:relative;
	clear:both;
	overflow:hidden;
	z-index:1;
	padding:0 0 3px;
	margin:0 20px 14px;
}
#menu ul {
	clear:both;
	overflow:hidden;
	margin:0;
	background:#c2ab1e url('./images/menu_bg.gif') repeat-x top;
	-moz-box-shadow:0 1px 4px #000000;
	-webkit-box-shadow:0 1px 4px #000000;
	box-shadow:0 1px 4px #000000;
	behavior:url('./pie.htc');
}
#menu ul li {
	float:left;
	font-size:17px;
	line-height:20px;
	font-weight:bold;
	font-family:'Scada';
	text-transform:uppercase;
	text-shadow:0 1px 1px #312b08;
	padding:0 2px 0 0;
	background:url('./images/menu_li.gif') no-repeat right top;
}
#menu ul li a {
	display:block;
	color:#ffffff;
	text-decoration:none;
	padding:24px 16px 17px 15px;
}
#menu ul li a:hover, #menu ul li.active a {
	background:url('./images/menu_a.gif') repeat-x top;
}
#slider {
	position:relative;
	width:960px;
	height:347px;
	margin:-17px 20px 17px;
	overflow:hidden;
}
#slider .info {
	position:absolute;
	left:0;
	top:84px;
	width:400px;
	color:#000000;
	text-transform:uppercase;
	padding:32px 40px 28px 60px;
	background:url('./images/slider_opacity.png') repeat;
}
#slider .info h3 {
	color:#ffffff;
	font-size:24px;
	line-height:26px;
	font-family:'Scada';
	text-shadow:0 1px 1px #000000;
	padding:0;
	margin:0;
}
.slideimg {
	position:absolute;
}
#lb {
	float:left;
	width:612px;
	margin:0 0 20px 20px;
}
#lb > .num {
	position:relative;
	padding:28px 167px 17px 22px;
	margin:0 0 19px;
	background:url('./images/lb_num_bg.gif') repeat-y left;
	border-bottom:2px solid #392d1b;
}
#lb > .num h3 {
	position:absolute;
	right:0;
	top:50%;
	width:143px;
	color:#eec900;
	font-size:36px;
	line-height:39px;
	font-family:'Scada';
	text-align:center;
	text-shadow:0 1px 2px #412f16;
	padding:0;
	margin:-22px 0 0;
}
#lb > .num p {
	color:#ffffff;
	text-shadow:0 1px 2px #5c4523;
}
#lb .intro {
	padding:0 0 23px;
	margin:0 0 19px;
	background:#002576;
	border-bottom:3px solid #040f26;
}
#lb .intro > div {
	padding:22px 22px 10px;
	margin:0 0 19px;
	text-align:center;
	background:url('./images/intro_line.gif') repeat-x bottom;
}
#lb .intro > h2 {
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	padding:0;
	margin:0 22px 15px;
}
#lb .intro > h3 {
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	padding:0;
	margin:19px 22px 15px;
}
#lb .intro > h2 span, #lb .intro > h3 span {
	color:#eec900;
}
#lb .intro > p {
	color:#ffffff;
	text-align:justify;
	margin:0 22px 17px;
}
#lb .intro > p span {
	color:#eec900;
}
#lb .info {
	clear:both;
	overflow:hidden;
	margin:-6px 22px 20px;
}
#lb .info > img {
	margin:-9px 0 21px;
}
#lb .info > img.left {
	float:left;
	margin:3px 15px 7px 0;
}
#lb .info h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 9px;
}
#lb .info h2 {
	color:#c2960e;
	font-size:24px;
	line-height:27px;
	font-family:'Scada';
	text-align:justify;
	padding:0;
	margin:0 0 16px;
}
#lb .info h3 {
	font-size:18px;
	line-height:21px;
	text-align:justify;
	padding:0;
	margin:19px 0 17px;
}
#lb .info h4 {
	color:#c2960e;
	font-size:14px;
	line-height:17px;
	text-align:justify;
	padding:0;
	margin:19px 0 17px;
}
#lb .info h5 {
	font-size:16px;
	line-height:19px;
	padding:0;
	margin:19px 0 17px;
}
#lb .info h5 span {
	color:#c2960e;
}
#lb .info p {
	text-align:justify;
}
#lb .info p > strong {
	color:#eec900;
}
#rb {
	float:right;
	width:323px;
	margin:0 20px 20px 0;
}
#rb h2 {
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	font-family:'Scada';
	text-transform:uppercase;
	text-shadow:0 1px 1px #49400f;
	padding:16px 24px 10px;
	margin:0 0 12px;
	background:#af9a23;
}
#rb table.price {
	width:280px;
	margin:0 0 18px 24px;
}
#rb table.price td {
	color:#1a1d24;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	padding:9px 18px 9px 0;
	border-bottom:1px solid #c3c3c3;
}
#rb table.price tr:last-child td {
	border-bottom-width:0;
}
#rb table.price td span {
	display:block;
	color:#ab8613;
	text-align:right;
}
#rb .banner {
	padding:1px 0 0;
	margin:0 0 8px;
}
#rb .address {
	margin:0 24px 20px;
}
#rb .address h3 {
	color:#eec900;
	padding:0;
	margin:0;
}
#rb .address p {
	margin:0;
}
#rb .address table {
	margin:17px 0 17px;
}
#rb .address table td span {
	display:block;
	font-weight:bold;
	margin:0 30px 0 0;
}

/* Footer */

#footer {
	position:relative;
	width:1000px;
	height:146px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	text-shadow:0 1px 1px #032056;
	margin:0 auto;
}
#footer a {
	color:#ffffff;
}
#footer #copy {
	position:absolute;
	left:40px;
	top:25px;
}
#footer #author {
	position:absolute;
	right:40px;
	top:25px;
}
#footer #author img {
	float:left;
	margin:-3px 12px 0 0;
}

/* Inner */

#lb .change {
	margin:-6px 22px 20px;
}
#lb .change h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 12px;
}
#lb .change h2 {
	clear:both;
	overflow:hidden;
	color:#c2960e;
	font-size:24px;
	line-height:27px;
	font-family:'Scada';
	padding:0;
	margin:0 0 19px;
}
#lb .change .left {
	float:left;
	margin:0 20px 8px 0;
}
#lb .change table {
	width:100%;
	margin:0;
}
#lb .change table th {
	font-size:18px;
	line-height:21px;
	text-align:left;
}
#lb .change table td {
	color:#154f95;
	font-size:18px;
	line-height:21px;
	font-weight:bold;
	padding:16px 18px 16px 0;
	border-bottom:1px solid #c3c3c3;
}
#lb .change table tr:last-child td {
	border-bottom-width:0;
}
#lb .change table td img {
	margin:0 0 -4px;
}
#lb .contacts {
	margin:-6px 0 20px 22px;
}
#lb .contacts h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 19px;
}
#lb .contacts h2 {
	clear:both;
	overflow:hidden;
	color:#c2960e;
	font-size:24px;
	line-height:27px;
	font-family:'Scada';
	padding:0;
	margin:0 0 16px;
}
#lb .contacts ul {
	clear:both;
	overflow:hidden;
	margin:0 0 22px;
}
#lb .contacts ul li {
	float:left;
	width:175px;
	margin:0 28px 0 0;
}
#lb .contacts ul li:last-child {
	margin:0;
}
#lb .contacts ul li h3 {
	color:#ab8613;
	font-size:14px;
	line-height:17px;
	padding:0;
	margin:0;
}
#lb .contacts ul li p {
	margin:0;
}
#lb .contacts > div {
	width:590px;
	margin:0 0 17px;
}
#rb .feedback {
	padding:18px 21px 24px;
	margin:-7px 0 20px;
	background:#ebebeb;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-bottom:2px solid #b5b5b5;
}
#rb .feedback p {
	font-size:12px;
	line-height:15px;
	margin:0 0 4px;
}
#rb .feedback p input, #rb .feedback p textarea {
	width:261px;
	padding:8px;
	margin:0 0 2px;
	background:#ffffff;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-top:1px solid #ababab;
	-moz-box-shadow:0 inset 0 1px 1px #e3e3e3;
	-webkit-box-shadow:inset 0 1px 1px #e3e3e3;
	box-shadow:inset 0 1px 1px #e3e3e3;
}
#rb .feedback p textarea {
	height:121px;
	resize:vertical;
}
#rb .feedback p.key {
	clear:both;
	overflow:hidden;
}
#rb .feedback p.key input {
	float:left;
	width:103px;
	margin:0 14px 0 0;
}
#rb .feedback p.key img {
	float:left;
	margin:9px 0 0;
}
#rb .feedback p.tip {
	margin:10px 0 9px;
}
#rb .feedback button {
	display:block;
	width:103px;
	color:#ffffff;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	padding:6px 0;
	margin:0 auto 5px;
	background:url('./images/feedback_button.gif') repeat-x top;
	border:0;
}
#rb .feedback button:hover {
	background-position:0 -40px;
}
#lb .calculate {
	width:567px;
	margin:-6px 0 20px 22px;
}
#lb .calculate h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 10px;
}
#lb .calculate h2 {
	color:#c2960e;
	font-size:16px;
	line-height:19px;
	text-transform:uppercase;
	padding:0;
	margin:18px 0 15px;
}
#lb .calculate h3 {
	color:#c2960e;
	font-size:16px;
	line-height:19px;
	text-align:justify;
	padding:0;
	margin:0 0 16px;
}
#lb .calculate p {
	text-align:justify;
}
#lb .calculate > div {
	padding:24px 22px 22px;
	margin:0 0 20px;
	background:#ebebeb;
	border-bottom:2px solid #b5b5b5;
}
#lb .calculate > div table {
	width:100%;
	margin:0;
}
#lb .calculate > div table td {
	font-size:14px;
	line-height:17px;
	vertical-align:top;
	text-transform:uppercase;
	padding:10px 18px 0 0;
}
#lb .calculate > div table td p {
	color:#c2960e;
	font-size:11px;
	line-height:14px;
	text-transform:none;
	margin:-1px 0 0;
}
#lb .calculate > div table td input, #lb .calculate > div table td select {
	width:80px;
	font-size:16px;
	font-weight:bold;
	padding:8px 8px 6px;
	margin:-10px 0 16px;
	background:#ffffff;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-top:1px solid #ababab;
	-moz-box-shadow:0 inset 0 1px 1px #e3e3e3;
	-webkit-box-shadow:inset 0 1px 1px #e3e3e3;
	box-shadow:inset 0 1px 1px #e3e3e3;
}
#lb .calculate > div table td select {
	width:98px;
	padding:7px 4px 5px;
}
#lb .calculate > div table td span {
	display:block;
	color:#00359f;
	font-size:18px;
	line-height:21px;
	font-weight:bold;
	padding:7px 0 0;
	margin:-10px 0 21px;
}
#top .logo {
	display:none;
	margin:0 0 24px;
}
body.mobile {
	background:#ffffff;
}
.mobile #wrapper {
	position:relative;
	padding:61px 0 0;
	background:none;
}
.mobile #top {
	width:auto;
	height:auto;
	text-align:center;
	padding:25px 50px 11px;
	margin:0;
	background:url('./images/top_bg_960.jpg') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.mobile #top #logo {
	display:none;
}
.mobile #top .logo {
	display:inline-block;
}
.mobile #top .contacts {
	position:static;
	clear:both;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
	margin:0 165px 20px 0;
}
.mobile #top .contacts li {
	display:inline-block;
	float:none;
	text-align:left;
	vertical-align:top;
	margin:0 0 0 27px;
}
.mobile #top .contacts li:first-child {
	margin-left:0;
}
.mobile #top .contacts li h3, .mobile #top .contacts li p {
	font-size:20px;
	line-height:24px;
}
.mobile #top .banner {
	right:51px;
	top:auto;
	bottom:28px;
	width:145px;
	height:71px;
}
.mobile #content {
	width:auto;
	padding:0 0 27px;
}
.mobile #slider {
	width:auto;
	margin:0;
}
.mobile #slider img {
	width:auto;
	height:auto;
}
@media screen and (min-width: 960px) {
	.mobile #slider img {
		width:100%;
		height:auto;
	}
}
.mobile #slider .info {
	top:64px;
	width:523px;
	padding:25px 35px 37px 50px;
}
.mobile #slider .info h3 {
	font-size:36px;
	line-height:36px;
}
.mobile #lb {
	float:none;
	width:auto;
	padding:24px 25px 0;
	margin:0;
}
.mobile #lb > .num {
	padding:20px 167px 5px 26px;
	margin:0 0 20px;
	background:#af803b url('./images/lb_num_bg.gif') repeat-y right;
}
.mobile #lb > .num h3 {
	font-size:40px;
}
.mobile #lb > .num p {
	font-size:20px;
	line-height:24px;
	margin:0 0 24px;
}
.mobile #lb .intro {
	padding:0 0 18px;
	margin:0 0 20px;
}
.mobile #lb .intro > div {
	padding:21px 15px 7px;
	margin:0 0 22px;
}
.mobile #lb .intro > h2, .mobile #lb .intro > h3 {
	font-size:24px;
	line-height:29px;
	margin:0 25px 16px;
}
.mobile #lb .intro > p {
	font-size:20px;
	line-height:24px;
	margin:0 25px 24px;
}
.mobile #lb .info {
	margin:-5px 0 20px;
}
.mobile #lb .info h1 {
	font-size:36px;
	line-height:40px;
	margin:0 0 10px;
}
.mobile #lb .info h2 {
	color:#ebba23;
	font-size:24px;
	line-height:29px;
	font-family:'Arial', sans-serif;
	margin:0 0 15px;
}
.mobile #lb .info p {
	font-size:20px;
	line-height:24px;
	margin:0 0 24px;
}
.mobile #lb .info p a {
	color:#124cc1;
}
.mobile #lb .info h3 {
	font-size:24px;
	line-height:29px;
	margin:0 0 15px;
}
.mobile #rb {
	float:none;
	clear:both;
	overflow:hidden;
	width:auto;
	padding:0 25px;
	margin:-6px 0 0;
}
.mobile #rb > div {
	float:left;
	width:48.5%;
	margin:0 0 0 3%;
}
.mobile #rb > div:first-child {
	margin-left:0;
}
.mobile #rb h2 {
	font-size:24px;
	line-height:29px;
	padding:10px 24px 8px;
	margin:0 0 10px;
}
.mobile #rb table.price {
	width:calc(100% - 48px);
	padding:0 24px;
	margin:0 24px;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.mobile #rb table.price td {
	font-size:20px;
	line-height:24px;
	padding:9px 18px 14px 0;
}
.mobile #rb table.price td:last-child {
	padding-right:0;
}
.mobile #rb .banner {
	margin:24px 0 6px;
}
.mobile #rb .address h3 {
	font-size:20px;
	line-height:24px;
}
.mobile #rb .address p {
	font-size:20px;
	line-height:24px;
}
.mobile #rb .address table {
	padding:24px 0;
}
.mobile #rb .address table td {
	font-size:20px;
	line-height:24px;
}
.mobile #rb .address table td span {
	padding-right:52px;
}
.mobile #footer {
	position:relative;
	width:auto;
	height:91px;
	background:#033aa1 url('./images/footer_mobile_bg.png') no-repeat right top;
}
.mobile #footer:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:12px;
	background:url('./images/footer_mobile_shadow.png') repeat-x top;
}
.mobile #footer #copy {
	left:25px;
	top:26px;
	font-size:18px;
	line-height:24px;
}
.mobile #footer #author {
	right:25px;
	top:26px;
	font-size:18px;
	line-height:24px;
}
.mobile #footer #author img {
	margin:3px 12px 0 0;
}
.mobile .dropmenu {
	position:fixed;
	left:0;
	top:0;
	z-index:200;
	width:100%;
	height:61px;
	color:#ffffff;
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
	cursor:pointer;
	padding:17px 25px 16px 145px;
	background:url('./images/dropmenu_bg.png') repeat-x top;
	-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.78);
	-moz-box-shadow:0 3px 3px rgba(0,0,0,0.78);
	box-shadow:0 3px 3px rgba(0,0,0,0.78);
}
.mobile .dropmenu:before {
	content:'';
	position:absolute;
	left:50px;
	top:10px;
	width:65px;
	height:41px;
	background:url('./images/dropmenu_icon.png') no-repeat left top;
}
.mobile #menu {
	display:none;
	position:fixed;
	left:0;
	top:61px;
	z-index:190;
	width:100%;
	margin:0;
}
.mobile #menu ul {
	padding:29px 25px 26px;
	background:#a6931e;
}
.mobile #menu ul li {
	float:none;
	font-size:30px;
	line-height:34px;
	background:none;
}
.mobile #menu ul li a {
	position:relative;
	display:block;
	padding:12px 60px 16px 25px;
	background:none;
	border-bottom:1px solid #d2be42;
}
.mobile #menu ul li a:after {
	content:'';
	position:absolute;
	right:26px;
	top:21px;
	width:13px;
	height:20px;
	background:url('./images/submenu_arrow.png') no-repeat left top;
}
.mobile #menu ul li.active a {
	color:#eec900;
	background:#94831b;
}
.mobile #menu ul li.active a:after {
	top:25px;
	width:20px;
	height:13px;
	background-position:0 -20px;
}
.mobile #lb .info h5, .mobile #lb .info h4 {
	font-size:20px;
	line-height:24px;
	margin:0 0 24px;
}
@media screen and (max-width: 740px) {
	.mobile .dropmenu {
		padding-left:107px;
	}
	.mobile .dropmenu:before {
		left:20px;
	}
	.mobile #top {
		text-align:left;
		padding:25px 10px 11px 12px;
	}
	.mobile #top .logo {
		margin:0 0 17px;
	}
	.mobile #top .contacts {
		margin:0 10px 9px 89px;
	}
	.mobile #top .contacts li {
		display:block;
		margin:0 0 26px;
	}
	.mobile #top .contacts li p span {
		float:left;
		display:block;
		min-width:62px;
		margin:0 10px 0 0;
	}
	.mobile #top .banner {
		position:static;
		margin:0 0 14px 89px;
	}
	.mobile #slider .info {
		top:51px;
		width:415px;
		padding:29px 25px 27px 20px;
	}
	.mobile #lb {
		float:none;
		width:auto;
		padding:24px 20px 0;
		margin:-5px 0 0;
	}
	.mobile #lb > .num {
		padding:17px 160px 4px 20px;
		margin:0 0 19px;
		background:#af803b url('./images/lb_num_bg.gif') repeat-y right;
	}
	.mobile #lb .intro {
		padding:0 0 23px;
		margin:0 0 18px;
	}
	.mobile #lb .intro > div {
		padding:24px 15px 12px;
		margin:0 0 15px;
	}
	.mobile #lb .intro > h2, .mobile #lb .intro > h3 {
		margin:0 20px 16px;
	}
	.mobile #lb .intro > p {
		margin:0 20px 24px;
	}
	.mobile #lb .info h1 {
		margin:0 0 8px;
	}
	.mobile #lb .info h2 {
		margin:0 0 5px;
	}
	.mobile #rb {
		padding:0 20px;
		margin:-9px 0 0;
	}
	.mobile #rb > div {
		float:none;
		width:auto;
		margin:13px 0 0;
	}
	.mobile #rb > div:first-child {
		margin-top:0;
	}
	.mobile #rb .banner {
		margin:21px 0 20px;
	}
	.mobile #content {
		padding:0 0 11px;
	}
	.mobile #footer {
		height:160px;
		background:#033aa1 url('./images/footer_mobile_480_bg.png') no-repeat center top;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
	}
	.mobile #footer #copy {
		left:0;
		top:28px;
		width:100%;
		text-align:center;
	}
	.mobile #footer #author {
		top:112px;
		left:50%;
		width:170px;
		white-space:nowrap;
		margin-left:-85px;
	}
	.mobile #menu ul li {
		font-size:26px;
		line-height:30px;
	}
	.mobile #menu ul li a:after {
		top:18px;
	}
	.mobile #menu ul li.active a:after {
		top:22px;
	}
}
.mobile #lb .contacts {
	margin:0 0 28px;
}
.mobile #lb .contacts ul {
	padding:3px 0 0;
	margin:0 0 29px;
}
.mobile #lb .contacts ul li {
	float:left;
	width:30%;
	margin:0 0 0 5% !important;
}
.mobile #lb .contacts ul li:first-child {
	margin-left:0 !important;
}
.mobile #lb .contacts ul li h3, .mobile #lb .contacts ul li p {
	font-size:20px;
	line-height:24px;
}
.mobile #lb .contacts > div {
	width:auto;
}
.mobile #lb .contacts > div img {
	width:100%;
	height:auto;
}
.mobile #rb .feedback {
	float:none;
	width:auto;
	padding:16px 25px 23px;
	margin:-5px 0 -2px;
}
.mobile #rb .feedback p {
	font-size:20px;
	line-height:24px;
}
.mobile #rb .feedback p input, .mobile #rb .feedback p textarea {
	width:100%;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.mobile #rb .feedback p.key input {
	width:188px;
}
.mobile #rb .feedback p.tip {
	font-size:18px;
	line-height:24px;
}
.mobile #rb .feedback button {
	width:141px;
	font-size:20px;
	line-height:24px;
	padding:9px 0 11px;
	margin:15px auto 4px;
	border-top:1px solid #85a7ce;
	background:rgb(38,94,160);
	background:-moz-linear-gradient(top,  rgba(38,94,160,1) 0%, rgba(8,39,99,1) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,94,160,1)), color-stop(100%,rgba(8,39,99,1)));
	background:-webkit-linear-gradient(top,  rgba(38,94,160,1) 0%,rgba(8,39,99,1) 100%);
	background:-o-linear-gradient(top,  rgba(38,94,160,1) 0%,rgba(8,39,99,1) 100%);
	background:-ms-linear-gradient(top,  rgba(38,94,160,1) 0%,rgba(8,39,99,1) 100%);
	background:linear-gradient(to bottom,  rgba(38,94,160,1) 0%,rgba(8,39,99,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#265ea0', endColorstr='#082763',GradientType=0 );
}
@media screen and (max-width: 870px) {
	.mobile #lb .contacts ul li {
		float:none;
		width:auto;
		margin:30px 0 0 !important;
	}
	.mobile #lb .contacts ul li:first-child {
		margin-top:0 !important;
	}
}
.mobile #lb .change {
	margin:0 0 28px;
}
.mobile #lb .change p {
	font-size:20px;
	line-height:24px;
	margin:0 0 24px;
}
.mobile #lb .change h2 {
	font-size:30px;
	line-height:34px;
}
.mobile #lb .change table th {
	font-size:24px;
	line-height:28px;
}
.mobile #lb .change table td {
	font-size:30px;
	line-height:34px;
}
@media screen and (max-width: 640px) {
	.mobile #lb .change img.left {
		float:none;
		margin:0 0 1px;
	}
	.mobile #lb .change p {
		margin:0 0 17px;
	}
}
.mobile  #lb .contacts h1, .mobile #lb .change h1 {
	font-size:36px;
	line-height:40px;
	margin:0 0 19px;
}
.mobile #lb .calculate {
	width:auto;
	margin:0 0 34px;
}
.mobile #lb .calculate p {
	font-size:20px;
	line-height:24px;
	text-align:left;
	margin:0 0 24px;
}
.mobile #lb .calculate h1 {
	font-size:36px;
	line-height:40px;
	text-align:left;
	margin:0 0 20px;
}
.mobile #lb .calculate h2, .mobile #lb .calculate h3 {
	font-size:24px;
	line-height:29px;
	text-align:left;
	margin:0 0 29px;
}
.mobile #lb .calculate > div table td input, .mobile #lb .calculate > div table td select {
	font-size:20px;
}
.mobile #lb .calculate > div table td span {
	font-size:24px;
	line-height:25px;
}
.mobile #lb .calculate > div table td {
	font-size:20px;
	line-height:21px;
}
.mobile #lb .calculate > div table td p {
	font-size:14px;
	line-height:17px;
	text-align:left;
}
@media screen and (max-width: 640px) {
	.mobile #lb .calculate > div table td strong {
		display:block;
	}
}
.mobile #lb .info > img {
	max-width:100%;
	height:auto;
}