/* Default */

html {
	background:#0b3c9b url('./images/top_bg.gif') repeat-x top;
}
body {
	color:#1a1d24;
	font-size:14px;
	line-height:17px;
    font-family:'Verdana';
	padding:0;
	margin:0;
	background:url('./images/top_center.jpg') no-repeat center top;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 17px;
}
table {
	margin:0 0 17px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#124cc1;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#1a1d24;
	font-size:12px;
	font-family:'Verdana';
	padding:0;
	margin:0;
	background:none;
	border:0;
}
textarea {
	overflow:auto;
}
#wrapper {
	clear:both;
	overflow:hidden;
	position:relative;
	margin:0 auto;
	background:url('./images/footer_bg.png') no-repeat right bottom;
}

/* Top */

#top {
	position:relative;
	height:150px;
	width:1000px;
	margin:0 auto;
}
#top #logo {
	position:absolute;
	left:19px;
	top:34px;
}
#top .contacts {
	position:absolute;
	left:503px;
	top:62px;
	margin:0;
}
#top .contacts li {
	float:left;
	margin:0 37px 0 0;
}
#top .contacts li h3 {
	color:#ffd478;
	font-size:14px;
	line-height:17px;
	font-family:'Arial';
	text-shadow:0 1px 1px #000000;
	margin:0;
}
#top .contacts li p {
	color:#ffffff;
	font-size:14px;
	line-height:17px;
	font-family:'Arial';
	text-shadow:0 1px 1px #000000;
	margin:0;
}
#top .contacts li p a {
	color:#ffffff;
}
#top .banner {
	position:absolute;
	right:0;
	top:59px;
}

/* Main */

#content {
	position:relative;
	clear:both;
	overflow:hidden;
	width:1000px;
	padding:0 0 9px;
	margin:0 auto;
	background:#ffffff;
	border-bottom:1px solid #cdd1da;
	-moz-box-shadow:0 3px 10px #030f27;
	-webkit-box-shadow:0 3px 10px #030f27;
	box-shadow:0 3px 10px #030f27;
	behavior:url('./pie.htc');
}
#menu {
	position:relative;
	clear:both;
	overflow:hidden;
	z-index:1;
	padding:0 0 3px;
	margin:0 20px 14px;
}
#menu ul {
	clear:both;
	overflow:hidden;
	margin:0;
	background:#c2ab1e url('./images/menu_bg.gif') repeat-x top;
	-moz-box-shadow:0 1px 4px #000000;
	-webkit-box-shadow:0 1px 4px #000000;
	box-shadow:0 1px 4px #000000;
	behavior:url('./pie.htc');
}
#menu ul li {
	float:left;
	font-size:17px;
	line-height:20px;
	font-weight:bold;
	font-family:'Scada';
	text-transform:uppercase;
	text-shadow:0 1px 1px #312b08;
	padding:0 2px 0 0;
	background:url('./images/menu_li.gif') no-repeat right top;
}
#menu ul li a {
	display:block;
	color:#ffffff;
	text-decoration:none;
	padding:24px 16px 17px 15px;
}
#menu ul li a:hover, #menu ul li.active a {
	background:url('./images/menu_a.gif') repeat-x top;
}
#slider {
	position:relative;
	width:960px;
	height:347px;
	margin:-17px 20px 17px;
	overflow:hidden;
}
#slider .info {
	position:absolute;
	left:0;
	top:84px;
	width:400px;
	color:#000000;
	text-transform:uppercase;
	padding:32px 40px 28px 60px;
	background:url('./images/slider_opacity.png') repeat;
}
#slider .info h3 {
	color:#ffffff;
	font-size:24px;
	line-height:26px;
	font-family:'Scada';
	text-shadow:0 1px 1px #000000;
	padding:0;
	margin:0;
}
.slideimg {
	position:absolute;
}
#lb {
	float:left;
	width:612px;
	margin:0 0 20px 20px;
}
#lb > .num {
	position:relative;
	padding:28px 167px 17px 22px;
	margin:0 0 19px;
	background:url('./images/lb_num_bg.gif') repeat-y left;
	border-bottom:2px solid #392d1b;
}
#lb > .num h3 {
	position:absolute;
	right:0;
	top:50%;
	width:143px;
	color:#eec900;
	font-size:36px;
	line-height:39px;
	font-family:'Scada';
	text-align:center;
	text-shadow:0 1px 2px #412f16;
	padding:0;
	margin:-22px 0 0;
}
#lb > .num p {
	color:#ffffff;
	text-shadow:0 1px 2px #5c4523;
}
#lb .intro {
	padding:0 0 23px;
	margin:0 0 19px;
	background:#002576;
	border-bottom:3px solid #040f26;
}
#lb .intro > div {
	padding:22px 22px 10px;
	margin:0 0 19px;
	text-align:center;
	background:url('./images/intro_line.gif') repeat-x bottom;
}
#lb .intro > h2 {
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	padding:0;
	margin:0 22px 15px;
}
#lb .intro > h3 {
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	padding:0;
	margin:19px 22px 15px;
}
#lb .intro > h2 span, #lb .intro > h3 span {
	color:#eec900;
}
#lb .intro > p {
	color:#ffffff;
	text-align:justify;
	margin:0 22px 17px;
}
#lb .intro > p span {
	color:#eec900;
}
#lb .info {
	clear:both;
	overflow:hidden;
	margin:-6px 22px 20px;
}
#lb .info > img {
	margin:-9px 0 21px;
}
#lb .info > img.left {
	float:left;
	margin:3px 15px 7px 0;
}
#lb .info h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 9px;
}
#lb .info h2 {
	color:#c2960e;
	font-size:24px;
	line-height:27px;
	font-family:'Scada';
	text-align:justify;
	padding:0;
	margin:0 0 16px;
}
#lb .info h3 {
	font-size:18px;
	line-height:21px;
	text-align:justify;
	padding:0;
	margin:19px 0 17px;
}
#lb .info h4 {
	color:#c2960e;
	font-size:14px;
	line-height:17px;
	text-align:justify;
	padding:0;
	margin:19px 0 17px;
}
#lb .info h5 {
	font-size:16px;
	line-height:19px;
	padding:0;
	margin:19px 0 17px;
}
#lb .info h5 span {
	color:#c2960e;
}
#lb .info p {
	text-align:justify;
}
#lb .info p > strong {
	color:#eec900;
}
#rb {
	float:right;
	width:323px;
	margin:0 20px 20px 0;
}
#rb > h2 {
	color:#ffffff;
	font-size:18px;
	line-height:21px;
	font-family:'Scada';
	text-transform:uppercase;
	text-shadow:0 1px 1px #49400f;
	padding:16px 24px 10px;
	margin:0 0 12px;
	background:#af9a23;
}
#rb table.price {
	width:280px;
	margin:0 0 18px 24px;
}
#rb table.price td {
	color:#1a1d24;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	padding:9px 18px 9px 0;
	border-bottom:1px solid #c3c3c3;
}
#rb table.price tr:last-child td {
	border-bottom-width:0;
}
#rb table.price td span {
	display:block;
	color:#ab8613;
	text-align:right;
}
#rb .banner {
	padding:1px 0 0;
	margin:0 0 8px;
}
#rb .address {
	margin:0 24px 20px;
}
#rb .address h3 {
	color:#eec900;
	padding:0;
	margin:0;
}
#rb .address p {
	margin:0;
}
#rb .address table {
	margin:17px 0 17px;
}
#rb .address table td span {
	display:block;
	font-weight:bold;
	margin:0 30px 0 0;
}

/* Footer */

#footer {
	position:relative;
	width:1000px;
	height:146px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	text-shadow:0 1px 1px #032056;
	margin:0 auto;
}
#footer a {
	color:#ffffff;
}
#footer #copy {
	position:absolute;
	left:40px;
	top:25px;
}
#footer #author {
	position:absolute;
	right:40px;
	top:25px;
}
#footer #author img {
	float:left;
	margin:-3px 12px 0 0;
}

/* Inner */

#lb .change {
	margin:-6px 22px 20px;
}
#lb .change h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 12px;
}
#lb .change h2 {
	clear:both;
	overflow:hidden;
	color:#c2960e;
	font-size:24px;
	line-height:27px;
	font-family:'Scada';
	padding:0;
	margin:0 0 19px;
}
#lb .change .left {
	float:left;
	margin:0 20px 8px 0;
}
#lb .change table {
	width:100%;
	margin:0;
}
#lb .change table th {
	font-size:18px;
	line-height:21px;
	text-align:left;
}
#lb .change table td {
	color:#154f95;
	font-size:18px;
	line-height:21px;
	font-weight:bold;
	padding:16px 18px 16px 0;
	border-bottom:1px solid #c3c3c3;
}
#lb .change table tr:last-child td {
	border-bottom-width:0;
}
#lb .change table td img {
	margin:0 0 -4px;
}
#lb .contacts {
	margin:-6px 0 20px 22px;
}
#lb .contacts h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 19px;
}
#lb .contacts h2 {
	clear:both;
	overflow:hidden;
	color:#c2960e;
	font-size:24px;
	line-height:27px;
	font-family:'Scada';
	padding:0;
	margin:0 0 16px;
}
#lb .contacts ul {
	clear:both;
	overflow:hidden;
	margin:0 0 22px;
}
#lb .contacts ul li {
	float:left;
	width:175px;
	margin:0 28px 0 0;
}
#lb .contacts ul li:last-child {
	margin:0;
}
#lb .contacts ul li h3 {
	color:#ab8613;
	font-size:14px;
	line-height:17px;
	padding:0;
	margin:0;
}
#lb .contacts ul li p {
	margin:0;
}
#lb .contacts > div {
	width:590px;
	margin:0 0 17px;
}
#rb .feedback {
	padding:18px 21px 24px;
	margin:-7px 0 20px;
	background:#ebebeb;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-bottom:2px solid #b5b5b5;
}
#rb .feedback p {
	font-size:12px;
	line-height:15px;
	margin:0 0 4px;
}
#rb .feedback p input, #rb .feedback p textarea {
	width:261px;
	padding:8px;
	margin:0 0 2px;
	background:#ffffff;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-top:1px solid #ababab;
	-moz-box-shadow:0 inset 0 1px 1px #e3e3e3;
	-webkit-box-shadow:inset 0 1px 1px #e3e3e3;
	box-shadow:inset 0 1px 1px #e3e3e3;
}
#rb .feedback p textarea {
	height:121px;
	resize:vertical;
}
#rb .feedback p.key {
	clear:both;
	overflow:hidden;
}
#rb .feedback p.key input {
	float:left;
	width:103px;
	margin:0 14px 0 0;
}
#rb .feedback p.key img {
	float:left;
	margin:9px 0 0;
}
#rb .feedback p.tip {
	margin:10px 0 9px;
}
#rb .feedback button {
	display:block;
	width:103px;
	color:#ffffff;
	font-size:14px;
	line-height:17px;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	padding:6px 0;
	margin:0 auto 5px;
	background:url('./images/feedback_button.gif') repeat-x top;
	border:0;
}
#rb .feedback button:hover {
	background-position:0 -40px;
}
#lb .calculate {
	width:567px;
	margin:-6px 0 20px 22px;
}
#lb .calculate h1 {
	color:#c2960e;
	font-size:30px;
	line-height:36px;
	font-family:'Scada';
	padding:0;
	margin:0 0 10px;
}
#lb .calculate h2 {
	color:#c2960e;
	font-size:16px;
	line-height:19px;
	text-transform:uppercase;
	padding:0;
	margin:18px 0 15px;
}
#lb .calculate h3 {
	color:#c2960e;
	font-size:16px;
	line-height:19px;
	text-align:justify;
	padding:0;
	margin:0 0 16px;
}
#lb .calculate p {
	text-align:justify;
}
#lb .calculate > div {
	padding:24px 22px 22px;
	margin:0 0 20px;
	background:#ebebeb;
	border-bottom:2px solid #b5b5b5;
}
#lb .calculate > div table {
	width:100%;
	margin:0;
}
#lb .calculate > div table td {
	font-size:14px;
	line-height:17px;
	vertical-align:top;
	text-transform:uppercase;
	padding:10px 18px 0 0;
}
#lb .calculate > div table td p {
	color:#c2960e;
	font-size:11px;
	line-height:14px;
	text-transform:none;
	margin:-1px 0 0;
}
#lb .calculate > div table td input, #lb .calculate > div table td select {
	width:80px;
	font-size:16px;
	font-weight:bold;
	padding:8px 8px 6px;
	margin:-10px 0 16px;
	background:#ffffff;
	border-left:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-top:1px solid #ababab;
	-moz-box-shadow:0 inset 0 1px 1px #e3e3e3;
	-webkit-box-shadow:inset 0 1px 1px #e3e3e3;
	box-shadow:inset 0 1px 1px #e3e3e3;
}
#lb .calculate > div table td select {
	width:98px;
	padding:7px 4px 5px;
}
#lb .calculate > div table td span {
	display:block;
	color:#00359f;
	font-size:18px;
	line-height:21px;
	font-weight:bold;
	padding:7px 0 0;
	margin:-10px 0 21px;
}